/* ----------------------------- 전역변수 선언 ----------------------------- */

:root {
    --grid-item-per-row: 1;
}

/* ----------------------------- 반응형 ----------------------------- */

@media screen and (min-width: 510px) {
    :root{
        --grid-item-per-row: 2;
    }
}

@media screen and (min-width: 792px) {
    :root{
        --grid-item-per-row: 2;
    }
}

@media screen and (min-width: 872px) {
    :root{
        --grid-item-per-row: 3;
    }
}

@media screen and (min-width: 1127px) {
    :root{
        --grid-item-per-row: 4;
    }
}

@media screen and (min-width: 2000px) {
    :root{
        --grid-item-per-row: 5;
    }
}

/* ----------------------------- ----------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    color: #030303;
}

body {
    background-color: rgb(249, 249, 249); 
    overflow-x: hidden;
}

body::-webkit-scrollbar { width: 16px; } 
body::-webkit-scrollbar-track { background-color: transparent; }
body::-webkit-scrollbar-thumb {
    background: #606060;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

a { text-decoration: none; }
a:visited { color: #030303; }

i { font-size: 17px; }

/* ----------------------------- Top Nav ----------------------------- */

#ContainerHolder {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.topContainer {
    position: relative;
    padding: 0 8px;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.topContainer:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.topContainer:nth-of-type(2) {
    position: relative;
    /* display: flex;
    justify-content: center; */
    padding: 0px;
}

.elegroup {
    display: flex;
    align-items: center;
}

/* >>>>>>>>>>>>>>> Buttons <<<<<<<<<<<<<<< */

.btn-base {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer;
}

.btncircle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 0px solid transparent;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), border .7s ease-in-out;
}

.btncircle:active {
    border: 2px solid #e5e5e5;
    background-color: #e5e5e5;
    transition: background-color 0s cubic-bezier(0.215, 0.610, 0.355, 1), border 0s ease-in-out;
}

.topContainer:nth-of-type(2) .btncircle {
    width: 32px;
    height: 32px;
}

.topContainer:nth-of-type(2) .btncircle i {
    font-size: 13px;
}

.btnblue {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #065fd4;
    background-color: #fff;
}

.btnblue > i,
.btnblue > span {
    color: #065fd4;
}

.btnblue > i {
    font-size: 23px;
    margin-right: 10px;
}

#logodiv {
    width: 85px;
    height: 20px;
    margin-left: 20px;
    background-image: url('../images/logo.jpg');
}

/* ----------------------------- Category Nav ----------------------------- */

.btnContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 112px;
    height: 100%;
}

.btnContainer:nth-of-type(2) {
    left: 0;
    justify-content: left;
    padding-left: 8px;
    background: linear-gradient(90deg, white 50%, transparent);
    visibility: hidden;
}

.btnContainer:nth-of-type(3) {
    right: 0;
    justify-content: right;
    padding-right: 8px;
    background: linear-gradient(-90deg, white 50%, transparent);
}

#cateContainer {
    overflow: visible;
    white-space: nowrap;
    transition: transform .15s cubic-bezier(0.05, 0, 0, 1);
}

/* >>>>>>>>>>>>>>> Buttons <<<<<<<<<<<<<<< */

#cateContainer > button {
    display: inline;
}

.btnbubble {
    margin: 12px 12px 12px 0px;
    padding: 5px 12px 8px;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.btnbubble:first-of-type {
    margin: 12px 12px 12px 24px;
}

.btnbubble:last-of-type {
    margin: 12px 24px 12px 12px;
}

.btnbubble:not(.btnselected):hover {
    background-color: #e5e5e5;
    border-color: #cecece;
}

.btnselected { background-color: black; }
.btnselected > i,
.btnselected > span {
    color: white;
}

/* ----------------------------- Contents Section ----------------------------- */

#contents {
    display: flex;
    justify-content: center;
    margin: 24px 16px;
}

.content-section {
    display: grid;
    grid-template-columns: repeat(var(--grid-item-per-row), 1fr);
    /* grid-template-columns: repeat(var(--grid-item-per-row), calc(100% / --grid-item-per-row)); */
    /* column-gap: 2%;
    row-gap: 1em; */
    width: fit-content;
}

.content-item {
    position: relative;
    width: fit-content;
}

.overlayholder {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 8px 40px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), border .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    min-width: 240px;
    max-width: 320px;
}

.overlayholder:active {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    transition: background-color 0s cubic-bezier(0.215, 0.610, 0.355, 1), border 0s ease-in-out;
}

.content-item:hover button {
    visibility: visible;
}

.option-btn-container {
    position: relative;
    z-index: 9999;
}

.thumbnail {
    position: relative;
}

.thumbnail > a > img {
    width: 100%;
}

.timebox {
    position: absolute;
    right: 4px;
    bottom: 7px;
    border-radius: 2px;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.9);
    width: fit-content;
}

.timebox > span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.detail {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.detail > a {
    width: 36px;
    margin-right: 12px;
}

.detail > a > img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

.text-detail {
    position: relative;
    padding-right: 24px;
    width: 100%;
}

.text-detail > button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

.video-title {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    line-height: 20px;
}

.channel-name {
    text-overflow: ellipsis;
    line-clamp: 1;
}

.text-detail p,
.text-detail span {
    color: rgb(96, 96, 96);
}

.text-detail > p {
    margin-bottom: 10px;
    color: #030303;
}
/* 
.content-item > button {
    position: absolute;
    visibility: hidden;
    top: 53%;
    right: 0;
} */

/* #contents {
    margin: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.content-section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: fit-content;
}

.content-item {
    position: relative;
    flex: 1 1 40%;
}

.overlayholder {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 8px 40px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), border .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    min-width: 240px;
    max-width: 320px;
}

.overlayholder:active {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    transition: background-color 0s cubic-bezier(0.215, 0.610, 0.355, 1), border 0s ease-in-out;
}

.content-item:hover button {
    visibility: visible;
}

.thumbnail {
    position: relative;
}

.thumbnail > a > img {
    width: 100%;
}

.timebox {
    position: absolute;
    right: 4px;
    bottom: 7px;
    border-radius: 2px;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.9);
    width: fit-content;
}

.timebox > span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.detail {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.detail > a {
    width: 36px;
    margin-right: 12px;
}

.detail > a > img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

.text-detail {
    position: relative;
    padding-right: 24px;
    width: 100%;
}

.video-title {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    line-height: 20px;
}

.channel-name {
    text-overflow: ellipsis;
    line-clamp: 1;
}

.text-detail p,
.text-detail span {
    color: rgb(96, 96, 96);
}

.text-detail > p {
    margin-bottom: 10px;
    color: #030303;
}

.content-item > button {
    position: absolute;
    visibility: hidden;
    bottom: 95px;
    right: 0;
} */
