/* ----------------------------- z-index 순서 ----------------------------- */
/* .sideMenuTop: 9999
#sideMenu: 9998
#overlaySide: 9997
.list-box-container: 9996
[data-tooltip-text]::after: 9995
topContainer: 9994
.content-item > button: 9993
.btn-base > i: 9992
.detail: 9991 */

/* ----------------------------- 전역변수 선언 ----------------------------- */

:root {
    --media-type: 1;
    --grid-item-per-row: 1;
    --thumbnail-cur-height: 240px;
    --content-item-height: 0;
    --isblock: "absolute";
}

/* ----------------------------- 공통 ----------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    color: #030303;
}

body {
    background-color: rgb(249, 249, 249); 
    overflow-x: hidden;
}

body.noscroll {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body.noscroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

body::-webkit-scrollbar { width: 16px; } 
body::-webkit-scrollbar-track { background-color: transparent; }
body::-webkit-scrollbar-thumb {
    background: #606060;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

a { text-decoration: none; }
a:visited { color: #030303; }

i { font-size: 17px; }

/* ----------------------------- 툴팁 ----------------------------- */

[data-tooltip-text] {
    position: relative;
}

[data-tooltip-text]::after {
    content: attr(data-tooltip-text);

    position: absolute;
    top: 120%;
    left: auto;

    padding: 5px;
    border-radius: 3px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;

    visibility: hidden;
    opacity: 0;

    transition: opacity .1s ease-in-out;

    z-index: 9995;
}

[data-tooltip-text]:hover::after {
    opacity: 1;
    visibility: visible;
}

[data-tooltip-channel-text] {
    position: relative;
}

[data-tooltip-channel-text]::before {
    content: attr(data-tooltip-channel-text);

    position: absolute;
    top: -150%;
    left: auto;

    padding: 5px;
    border-radius: 3px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;

    visibility: hidden;
    opacity: 0;

    transition: opacity .1s ease-in-out;

    z-index: 9995;
}

[data-tooltip-channel-text]:hover::before {
    opacity: 1;
    visibility: visible;
}


/* ----------------------------- Top Nav ----------------------------- */

.topContainer {
    position: sticky;
    padding: 0 8px;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.topContainer:nth-of-type(1) {
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9994;
}

.topContainer:nth-of-type(2) {
    top: 56px;
    z-index: 9993;
    /* display: flex;
    justify-content: center; */
    padding: 0px;
}

.elegroup {
    display: flex;
    align-items: center;
}

.singlebtnConatiner { position: relative; }

/* >>>>>>>>>>>>>>> Buttons <<<<<<<<<<<<<<< */

.btn-base {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    outline: none;
    cursor: pointer;
}

.btn-base > i { z-index: 10; }

.btncircle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.btncircle::before {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    border-radius: 38px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), border .7s ease-in-out;
}

.btncircle:active::before {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    transition: background-color 0s cubic-bezier(0.215, 0.610, 0.355, 1), border 0s ease-in-out;
}

.topContainer:nth-of-type(2) .btncircle { width: 32px; height: 32px; }
.topContainer:nth-of-type(2) .btncircle i { font-size: 13px; }

.btnblue {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #065fd4;
    background-color: #fff;
}

.btnblue > i,
.btnblue > span {
    color: #065fd4;
}

.btnblue > i {
    font-size: 23px;
    margin-right: 10px;
}

#logodiv {
    width: 85px;
    height: 20px;
    margin-left: 20px;
    background-image: url('../images/logo.jpg');
}

/* >>>>>>>>>>>>>>> List-box <<<<<<<<<<<<<<< */
.list-box-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;
    width: 100%;
    padding: 8px 0px;
    z-index: 9996;
}

.show { display: block !important;}
#app_btn + .list-box-container { position: absolute; width: 227px; display: none; top: 100%; right: 0;}
#option_btn + .list-box-container { position: absolute; width: 300px; display: none; top: 100%; right: 0;}

.list-box-container > ul > li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    list-style: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.list-box-container > ul > i.bar {
    display: block;
    margin: 10px 0px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.list-box-container > ul > li:hover { background-color: rgba(0, 0, 0, 0.05); }
.list-box-container > ul > li > span { width: 100%; }

.list-box-container > ul > li > i:first-of-type {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

/* ----------------------------- Category Nav ----------------------------- */

.btnContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 112px;
    height: 100%;
}

.btnContainer:nth-of-type(2) {
    left: 0;
    justify-content: left;
    padding-left: 8px;
    background: linear-gradient(90deg, white 50%, transparent);
    visibility: hidden;
}

.btnContainer:nth-of-type(3) {
    right: 0;
    justify-content: right;
    padding-right: 8px;
    background: linear-gradient(-90deg, white 50%, transparent);
}

#cateContainer {
    position: var(--isblock);
    overflow: visible;
    white-space: nowrap;
    margin: 0 auto;
    width: fit-content;
    transition: transform .15s cubic-bezier(0.05, 0, 0, 1);
}

/* >>>>>>>>>>>>>>> Buttons <<<<<<<<<<<<<<< */

#cateContainer > button { display: inline; }

.btnbubble {
    margin: 12px 12px 12px 0px;
    padding: 5px 12px 8px;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.btnbubble:first-of-type { margin: 12px 12px 12px 24px; }
.btnbubble:last-of-type { margin: 12px 24px 12px 0px; }

.btnbubble:not(.btnselected):hover {
    background-color: #e5e5e5;
    border-color: #cecece;
}

.btnselected { background-color: black; }
.btnselected > i,
.btnselected > span {
    color: white;
}

/* ----------------------------- Contents Section ----------------------------- */

#contents {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 24px auto;
}

.content-section {
    display: grid;
    grid-template-columns: repeat(var(--grid-item-per-row), 1fr);
    /* grid-template-columns: repeat(var(--grid-item-per-row), calc(100% / --grid-item-per-row)); */
    /* column-gap: 2%;
    row-gap: 1em; */
    width: fit-content;
}

.content-item {
    position: relative;
    width: fit-content;
}

.overlayholder {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 8px 40px;
    cursor: pointer;
    min-width: 240px;
    max-width: 320px;
}

.overlayholder::before {
    content: '';
    position: absolute;
    display: block;
    top: -1.5%;
    left: -1.5%;
    width: 102%;
    height: calc(var(--content-item-height) - 30px);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    z-index: -1;
    transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), border .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.overlayholder:active::before {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: background-color 0s cubic-bezier(0.215, 0.610, 0.355, 1), border 0s ease-in-out;
}

.content-item:hover button,
.content-item:hover .thumbnailOverlay {
    visibility: visible;
}

.content-item:hover .thumbnailOverlay .comment { display: flex; }

.thumbnail { position: relative; }
.thumbnail > a > img { width: 100%; }

.thumbnailOverlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    visibility: hidden;
}

.thumbnailOverlay > button {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    margin: 2px;
    cursor: pointer;
}

.thumbnailOverlay > button > i { color: #fff; }

.comment {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 28px;
    height: 28px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
}

.comment span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px 0 8px;
    height: 100%;
    font-size: 13px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2px 0 0 2px;
    transform: translateX(100%);
    transition: all .2s cubic-bezier(0.05, 0, 0, 1);
}

.thumbnailOverlay > button:hover > .comment { visibility: visible; }
.thumbnailOverlay > button:hover > .comment span { transition-delay:.3s; transform: translateX(0); }

.timebox {
    position: absolute;
    right: 4px;
    bottom: 7px;
    border-radius: 2px;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.9);
    width: fit-content;
}

.timebox > span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.detail {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    /* z-index: 9998; */
}

.detail > a {
    width: 36px;
    margin-right: 12px;
}

.detail > a > img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
}

.text-detail {
    position: relative;
    padding-right: 24px;
    width: 100%;
}

.content-item > button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9992;
}

.video-title {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    line-height: 20px;
}

.channel-name {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: fit-content;
}

.text-detail p,
.text-detail span {
    color: rgb(96, 96, 96);
}

.text-detail > p {
    margin-bottom: 10px;
    color: #030303;
}

.content-item > button {
    position: absolute;
    visibility: hidden;
    top: var(--thumbnail-cur-height);
    right: 0;
}

/* ----------------------------- Aside Section ----------------------------- */

#overlaySide {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9997;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

#overlaySide.show {
    visibility: visible;
    opacity: 1;
}

#sideMenu {
    display: block;
    position: absolute;
    top: 0;
    left: -256px;
    width: 240px;
    height: 100%;
    background-color: #fff;
    z-index: 9998;
    transition: all .2s ease-in-out;
}

#sideMenu.show {
    transform: translateX(256px);
}

.sideMenuTop {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    top: 0;
    z-index: 9998;
}

.menulistContainer {
    display: block;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: scroll;
}

.menulistContainer::-webkit-scrollbar { width: 16px; } 
.menulistContainer::-webkit-scrollbar-track { background-color: transparent; }
.menulistContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

.menulistContainer:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

.menulistContainer > ul { padding: 12px 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.menulistContainer > ul > p {
    padding: 8px 24px;
    font-weight: 500;
    color: #606060;
}

.menulistContainer > ul > li {
    display: flex;
    align-items: center;
    padding: 0 24px;
    list-style: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.menulistContainer > ul > li.selected {
    background: rgba(0, 0, 0, 0.1);
}

.menulistContainer > ul > i.bar {
    display: block;
    margin: 10px 0px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.menulistContainer > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menulistContainer > ul > li > span {
    width: 100%;
}

.menulistContainer > ul > li > i:first-of-type {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.linkdiv { padding: 16px 24px 0;  }
.linkdiv:last-of-type { padding: 16px 24px;}
.linkdiv a { font-size: 13px; color: rgba(0, 0, 0, 0.7); margin-right: 8px; }
.linkdiv p { font-size: 12px; color: rgba(0, 0, 0, 0.7); margin-right: 8px; }

/* ----------------------------- Aside Mini Section ----------------------------- */

#sideMenuMini {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    background-color: #fff;
    visibility: hidden;
    z-index: 9999;
}

#sideMenuMini > ul {
    margin: 4px 0px
}

#sideMenuMini > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    cursor: pointer;
}

#sideMenuMini > ul > li > i {
    font-size: 20px;
    margin-bottom: 10px;
}

#sideMenuMini > ul > li > p {
    font-size: 10px;
}

#sideMenuMini > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* ----------------------------- 반응형 ----------------------------- */

@media screen and (min-width: 510px) {
    :root{
        --media-type: 1;
        --grid-item-per-row: 2;
    }
}

@media screen and (min-width: 640px) {
    :root{
        --media-type: 1;
        --grid-item-per-row: 2;
    }
}

@media screen and (min-width: 792px) {
    :root{
        --media-type: 2;
        --grid-item-per-row: 2;
    }

    .elegroup:first-of-type button {
        display: none;
    }

    .elegroup:first-of-type #logodiv {
        margin-left: -8px;
    }

    #sideMenu {
        transition: none;
    }

    #sideMenuMini {
        visibility: visible;
        position: fixed;
        left: 0;
    }

    .testcontainer {
        margin-left: 72px;
    }

    #contents {
        padding: 0px 15px;
    }
}

@media screen and (min-width: 872px) {
    :root{
        --media-type: 3;
        --grid-item-per-row: 3;
    }
}

@media screen and (min-width: 1127px) {
    :root{
        --media-type: 4;
        --grid-item-per-row: 4;
    }
}

@media screen and (min-width: 1313px) {
    :root{
        --media-type: 4;
        --grid-item-per-row: 4;
    }

    #sideMenuMini {
        visibility: hidden;
    }

    .elegroup:first-of-type {
        visibility: hidden;
    }

    #logodiv {
        margin-left: 16px;
    }
    
    #overlaySide {
        visibility: hidden;
    }

    #sideMenu {
        position: fixed;
        left: 0;
        transition: all 0s ease-in-out;
    }

    .testcontainer {    
        margin-left: 240px;
    }

    #contents {
        padding: 0px 24px;
    }
}

@media screen and (min-width: 2000px) {
    :root{
        --media-type: 5;
        --grid-item-per-row: 5;
    }
}