@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 966px;
    margin: 0 auto;
}

.header_wrap {
    position: relative;
    width: 100%;
}

.sitemap {
    float: right;
    list-style: none;
    text-align: right;
    margin: 10px 10px
}

.sitemap > li {
    float: left;
    height: auto;
    text-align: center;
}

.sitemap > li:not(:last-child)::after {
    display: inline-block;
    content: '';
    position: relative;
    background-color: lightgray;
    width: 1px;
    height: 14px;
    margin: 0 8px;
    top: 2px;
}

.sitemap_item {
    font-size: small;
    text-align: center;
    color: rgb(136, 136, 136);
}

#myprofile {
    background: none;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(233, 233, 233);
    color: rgb(140, 140, 140);
    font-size: 1px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    outline: none;
}

.profile_wrap {
    display: none;
    position: absolute;
    left: 762px;
    top: 40px;
    width: 316px;
    height: 155px;
    box-shadow: 0 0 6px 1px #ccc;

    font-size: 14px;
    color: rgb(140, 140, 140);
    background-color: white;
    z-index: 9999;
}

.profileimage_wrap {
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 15px 10px 15px 15px;
}

.profileImage {
    width: 100%;
    border-radius: 50%;
}

.profileImage_modified {
    position: absolute;
    width: 28px;
    left: 0;
    bottom: 0;
}

.profileInfo {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 80px;
    margin: 15px 15px 15px 0px;
}

.profileInfo > p > strong {
    color: #444;
}

.nickname {
    float: left;
}

.nickname > strong {
    color: #444;
}

#logout {
    float: left;
    background-color: white;
    border: 1px solid rgb(233, 233, 233);
    color: #444;
    font-size: 11px;
    padding: 3px;
    width: 53px;
    height: 20px;
    margin-left: 5px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.email {
    clear: both;
}

.profile_items {
    list-style: none;
}

.profile_item {
    font-size: 12px;
    color: #444;
    text-decoration: underline;
}

.profile_items > li {
    float: left;
}

.profile_items > li:not(:last-child)::after {
    display: inline-block;
    content: '';
    position: relative;
    background-color: lightgray;
    width: 1px;
    height: 14px;
    margin: 0 8px;
    top: 2px;
}

.naverpay {
    clear: both;
    font-size: 12px;
    text-decoration: none;
}

.bottombtns {
    clear: both;
    list-style: none;
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #f8f8f8;
}

.bottombtns_item {
    float: left;
    font-size: 12px;
    width: 105px;
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 39px;
    border-top: 1px solid #ebebeb;
    display: block;
    color: #444;
    font-weight: bolder;
}

.bottombtns > .bottombtns_item:not(:last-child) {
    border-right: 1px solid #ebebeb
}

.blogTitleText {
    clear: both;
    display: block;
    width: 100%;
    height: 370px;
    padding: 23px;
    border: 1px solid #444;
    position: relative;
}

.titleText {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: right;
    transform: translate(0, -50%);
    font-family: 'Noto Serif KR', serif;
    font-weight:normal;
    font-size: 30px;
}

.menu_container {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #999;
}

.menu_wrap {
    padding: 0 10px;
}

.menu_wrap > a:not(:last-child) {
    margin-right: 10px;
}

.menu_active {
    font-weight: bolder;
    color: black;
}

.menu_active2 {
    font-weight: bolder;
    text-decoration: underline;
    color: black;
}

.menu_wrap > .menu_new::after {
    content: 'N';
    border: none;
    background-color: coral;
    font-size: 1px;
    padding: 1px 2px;
    margin-left: 2px;
    border-radius: 2px;
    width: 10px;
    height: 9px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
}

.blog_menu_container {
    font-size: 12px;
}

.sub_menu_wrap {
    display: none;
}

.sub_menu_wrap a{
    color: #333;
}

.sub_menu_container {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 100%;
}

.blog_menu_container > ul, li {
    list-style: none;
}

.blog_menu_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#blog_menu_item {
    display: block;
    padding: 10px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

#blog_menu_item:hover {
    text-decoration: none;
}

.sub_menu_wrap > li {
    display: block;
    padding: 7px 5px 0px 10px;
}

.blog_menu_items {
    width: 171px;
}

.sub_menu_wrap > li > a::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 4px;
    background-image: url('../images/post.gif');
    width: 10px;
    height: 12px;
}

.sub_menu_wrap > li > a.menu_new::after {
    content: 'N';
    border: none;
    background-color: coral;
    font-size: 1px;
    padding: 1px 2px;
    margin-left: 2px;
    border-radius: 2px;
    width: 10px;
    height: 9px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
}

#drop_menu_text {
    float: right;
}

/* 목록 */

.post_list_wrap {
    width: 100%;
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: #444;
    padding: 10px;
}

.post_list_wrap a {
    color: #444;
}

.post_list_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

.category_name {
    font-weight: bolder;
    margin-right: 4px;
}

.category_name:hover {
    text-decoration: none;
}

.post_table_wrap {
    display: none;
    width: 100%;
}

.post_table_wrap > table {
    color: #444;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

.post_table_wrap > table > tbody td {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.post_table_wrap > table > thead > tr {
    border-bottom: 1px solid #bbb;
}

.post_table_wrap > table > thead > tr > th {
    color: #bbb;
    font-weight: normal;
    padding: 10px 0px;
}

.post_header_title {
    display: block;
    text-align: left;
}

.post_header_date {
    display: block;
    text-align: right;
}

.post_date {
    display: block;
    text-align: right;
    color: #bbb;
}

.post_active {
    font-weight: bolder;
}

.post_active > td > .post_date {
    font-weight: normal;
    color: #444;
}


.neighbor_open {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #bbb;
    border-radius: 50px;
    padding: 2px 5px;
}

.show_option_wrap {
    margin-top: 10px;
    float: right;
    position: relative;
}

#selected_option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown_arrow_todown {
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    transform: rotate(225deg) translateY(3px);
    transition: all .1s;
}

.arrow_toup {
    transform: rotate(45deg) translateX(3px);
}

.show_option_list {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 97px;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 0;
}

.show_option_list a {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
}

.pageNavi {
    display: flex;
    justify-content: center;
}

.pageNavi > a {
    font-size: 12px;
    padding: 6px 8px;
    margin: 5px 1px;
    border: 1px solid transparent;
    text-decoration: none;
}

.pageNavi > a:hover {
    border: 1px solid #bbb;
}

.pageNavi > .Item_selected {
    border: 1px solid #bbb;
    font-weight: bolder;
    cursor: default;
}

/* blog_post_wrap */

.blog_post_wrap {
    color: #333;
    width: 100%;
    padding: 20px;
}

.post_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.post_header > div {
    margin: 17px 0px;
}

.post_category_wrap > span {
    font-size: 16px;
    color: #bbb;
}

.post_title_wrap > h1 {
    font-size: 32px;
}

.post_info_wrap {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.post_info_wrap > .post_info {
    display: flex;
    align-items: center;
}

.post_info_wrap > .post_info > * {
    margin-right: 10px;
}

.post_info_wrap > .post_info > span:last-child {
    color: #bbb;
}

.post_info_wrap > .post_info > .post_author {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



.gnb_top_bar,
.gnb_bottom_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    padding: 0px 20px;
    left: 0;
    width: 100%;
    height: 47px;
    z-index: 9999;
}

.gnb_top_bar {
    top: -47px;
    border-bottom: 1px solid #bbb;
    transition: all .2s;
}

.gnb_top_bar > .blog_info {
    display: flex;
    align-items: center;
}

.gnb_top_bar > .blog_info > * {
    margin-right: 5px;
}

.gnb_top_bar > .blog_info > span:first-of-type {
    font-size: 15px;
    color: #bbb;
    margin: 0px 5px;
}

.gnb_top_bar > .blog_info > .blog_title {
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
}

.gnb_top_bar > .blog_info > .blog_title::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0px;
    border: none;
    height: 1px;
    z-index: 100;
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: black;
}

.gnb_top_bar > .blog_info > .blog_title:hover::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border: none;
    height: 1px;
    z-index: 100;
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: black;
}

.gnb_top_bar > .blog_tools {
    display: flex;
    align-items: center;
}

.gnb_top_bar > .blog_tools > .post_search_box {
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 36px;
    transition: all .2s;
}

.gnb_top_bar > .blog_tools > .post_search_box:hover {
    border: 1px solid #aaaaaa;
}

.gnb_top_bar > .blog_tools > .post_search_box > input[type="text"] {
    float: left;
    border: none;
    width: 199px;
    height: 34px;
    padding-left: 10px;
    outline: none;
}

.gnb_top_bar > .blog_tools > .post_search_box > a {
    float: right;
    width: 34px;
    height: 34px;
    background-image: url('../images/search.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.gnb_bottom_bar {
    bottom: -47px;
    border-top: 1px solid #bbb;
    transition: all .2s;
}

.top_on {
    transform: translateY(100%);
}

.bottom_on {
    transform: translateY(-100%);
}

.post_main {
    padding: 50px 0px;
}

.post_main > * {
    margin: 2px 0px;
}

.on {
    display: block;
}