:root {
    --point: #0095f6;
    --good: #5bc525;

    --gray100: #121212;
    --gray85: #363636;
    --gray70: #595959;
    --gray55: #7d7d7d;
    --gray40: #a0a0a0;
    --gray25: #c4c4c4;
    --gray10: #e7e7e7;
    --gray5: #f8f8f8;
    --white: #fff;
}
