* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

span.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: $primary_color;
    border-radius: 50%;
    transform: scale(.8);
    margin: 3px 5px;
}

.btn_base {
    border: none;
    width: fit-content;
    background: none;
    outline: none;

    &.btn_text {
        .btn_content {
            cursor: pointer;
            i, span { color: $primary_color; }
        }
    }

    &.btn_circle::before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, .2);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        transform: scale(0);
        transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &.btn_circle:active::before {
        transform: scale(1);
    }

    &.btn_circle_v2 {
        border-radius: 50%;
        background: rgba(0, 0, 0, .7);
        width: 40px;
        height: 40px;
        transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &.btn_circle_v2:hover {
        transform: scale(1.2);
    }

    &.btn_sing_play {
        background: transparent;
    }

    &.btn_prv,
    &.btn_nxt {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.spinner {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
	background-color: transparent;
	background-image: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40">\
<style> circle { animation: 4s a infinite linear, 3s o infinite linear; }\
@keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}\
@keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}\
<%2Fstyle><circle r="15.9154943092" stroke-width="5" fill="none" stroke="snow" />\
</svg>');
	background-position: center center;
    width: 50px;
    height: 50px;
}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin defaultOverlay($background:rgba(0, 0, 0, .5)) {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--item-height);
    top: 0;
    left: 0;
    background: $background;
    transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

@mixin ellipseText($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// xs sm md lg xl
// 603px / 924px / 1138px / 1352px / 1566px

@mixin media-xs {
    @media screen and (max-width: 603px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (min-width: 604px) and (max-width: 924px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 925px) and (max-width: 1138px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1139px) and (max-width: 1352px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1353px) and (max-width: 1565px) {
        @content;
    }
}
@mixin media-xxl {
    @media screen and (min-width: 1566px) {
        @content;
    }
}