:root {
    --scroll_bar_width: 0px;
    --gnb_search_bar_width: 860px;
    --content-width: calc(100vw - var(--scroll_bar_width) - 32px);
    --content-margin: 24px;
    --contentInfo-padding: 16px;
    --contentInfo-margin: 24px;
    --item-height: 180px;
    --items-margin: 0 auto 24px;
}

// 기본 설정
$background_color: black;
$primary_color: #fff;
$secondary_color: darken($primary_color, 50%);

// GNB 설정
$gnb_bar_height: 64px;
// $gnb_search_bar_width: 860px; // --> CSS 전역변수