:root {
  --scroll_bar_width: 12px;
  --gnb_search_bar_width: 860px;
  --content-width: calc(100vw - var(--scroll_bar_width) - 32px);
  --content-margin: 24px;
  --contentInfo-padding: 16px;
  --contentInfo-margin: 24px;
  --item-height: 180px;
  --items-margin: 0 auto 24px;
  --is-items-overflow: true;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

span.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 3px 5px;
}

.btn_base {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  outline: none;
}

.btn_base.btn_text .btn_content {
  cursor: pointer;
}

.btn_base.btn_text .btn_content i, .btn_base.btn_text .btn_content span {
  color: #fff;
}

.btn_base.btn_circle::before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn_base.btn_circle:active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn_base.btn_circle_v2 {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn_base.btn_circle_v2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn_base.btn_sing_play {
  background: transparent;
}

.btn_base.btn_prv, .btn_base.btn_nxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.spinner {
  display: none;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40"><style> circle { animation: 4s a infinite linear, 3s o infinite linear; }@keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}@keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}<%2Fstyle><circle r="15.9154943092" stroke-width="5" fill="none" stroke="snow" /></svg>');
  background-position: center center;
  width: 50px;
  height: 50px;
}

body {
  background-color: black;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: var(--scroll_bar_width);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

body::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

#gnb {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
}

#gnb .elegroup {
  padding: 8px 0;
}

#gnb .elegroup:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gnb .elegroup:nth-child(2) button .btn_content {
  margin: 20px;
  overflow: visible;
  white-space: nowrap;
}

#gnb .elegroup:nth-child(2) button .btn_content i, #gnb .elegroup:nth-child(2) button .btn_content span {
  display: block;
  color: gray;
  font-size: 20px;
}

#gnb .elegroup:nth-child(2) button .btn_content i {
  display: none;
}

#gnb .elegroup:nth-child(2) button .btn_content:hover i, #gnb .elegroup:nth-child(2) button .btn_content:hover span {
  color: #fff;
}

#gnb .elegroup:nth-child(2) button .btn_content.active i, #gnb .elegroup:nth-child(2) button .btn_content.active span {
  color: #fff;
}

#gnb .elegroup:nth-child(2) button:last-child .btn_content i {
  display: inline-block;
}

#gnb .elegroup:nth-child(2) button:last-child .btn_content span {
  display: none;
}

#gnb .elegroup:nth-child(2) #gnbSearch {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: calc((100vw - var(--gnb_search_bar_width)) / 2 - var(--scroll_bar_width));
  border: 1px solid #404040;
  border-radius: 2px;
  background: #1a1a1a;
  width: var(--gnb_search_bar_width);
  height: 50px;
  margin: 0 auto;
}

#gnb .elegroup:nth-child(2) #gnbSearch button {
  display: block;
  width: 56px;
  height: 100%;
  cursor: pointer;
}

#gnb .elegroup:nth-child(2) #gnbSearch button i {
  color: gray;
  font-size: 20px;
}

#gnb .elegroup:nth-child(2) #gnbSearch input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  line-height: 10;
  padding-bottom: 3px;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList {
  display: block;
  position: absolute;
  top: 48px;
  left: -1px;
  outline: none;
  border: 1px solid #404040;
  border-radius: 2px;
  background: #1a1a1a;
  width: calc(100% + 2px);
  padding: 10px 0;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: gray;
  list-style: none;
  height: 48px;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item i {
  font-size: 14px;
  padding: 0 16px;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item span {
  font-size: 14px;
  padding-left: 5px;
  width: 100%;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item button .btn_content {
  padding: 0 16px;
  margin: 0;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item button .btn_content span {
  padding: 0;
  font-size: 12px;
  display: block;
}

#gnb .elegroup:nth-child(2) #gnbSearch #searchList .list_item:hover {
  background: #333333;
  cursor: pointer;
}

#gnb .elegroup:nth-child(3) #profile_user {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

#contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 64px;
  color: #fff;
  margin: 0 auto;
}

#contents #contentList {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#contents #contentList .content {
  display: block;
  position: relative;
  margin: 0 auto var(--content-margin);
}

#contents #contentList .content .contentInfo {
  padding: var(--contentInfo-padding) 0 0;
  width: calc(var(--content-width) + 12px);
  margin: 0 auto var(--contentInfo-margin);
}

#contents #contentList .content .contentInfo h4 {
  color: gray;
  font-size: 14px;
}

#contents #contentList .content .contentInfo img.artist {
  float: left;
  border-radius: 50%;
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

#contents #contentList .content .itemsContainer {
  display: block;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#contents #contentList .content .itemsContainer .itemsWraper {
  position: relative;
  width: calc(var(--content-width) + 12px);
  margin: 0 auto;
  overflow: hidden;
}

#contents #contentList .content .itemsContainer .itemsWraper .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: var(-content-width);
  white-space: nowrap;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item {
  margin-right: 16px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer {
  position: relative;
  margin-bottom: 16px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer div.thumbnail {
  width: 100%;
  height: var(--item-height);
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer div.thumbnail img {
  border-radius: 5px;
  height: var(--item-height);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer div.thumbnail.artist img {
  border-radius: 50%;
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--item-height);
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%, transparent);
  -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  opacity: 0;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album #btnThumbnailOption {
  position: absolute;
  top: 8px;
  right: 4px;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album #btnThumbnailOption i {
  color: #fff;
  font-size: 15px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album #btnThumbnailPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album #btnThumbnailPlay i {
  color: #fff;
  font-size: 13px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.album:hover {
  opacity: 1;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--item-height);
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing #btnThumbnailOption, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie #btnThumbnailOption {
  position: absolute;
  top: 8px;
  right: 4px;
  width: 40px;
  height: 40px;
  padding: 8px;
  opacity: 0;
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing #btnThumbnailOption i, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie #btnThumbnailOption i {
  color: #fff;
  font-size: 15px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing #btnThumbnailPlay, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie #btnThumbnailPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: calc(50% - 15px);
  bottom: calc(50% - 15px);
  cursor: pointer;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing #btnThumbnailPlay i, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie #btnThumbnailPlay i {
  color: #fff;
  font-size: 30px;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing:hover, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie:hover {
  background: rgba(0, 0, 0, 0.5);
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.sing:hover #btnThumbnailOption, #contents #contentList .content .itemsContainer .itemsWraper .items .item .thumbnailContainer .overlays.movie:hover #btnThumbnailOption {
  opacity: 1;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail span {
  display: block;
  white-space: normal;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail span.title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail span.info {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail.artist {
  width: 100%;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail.artist span.info,
#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail.artist span.title {
  text-align: center;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail.sing {
  width: 100%;
}

#contents #contentList .content .itemsContainer .itemsWraper .items .item .detail.movie {
  width: 100%;
}

#contents #contentList .content .itemsContainer .itemsWraper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

#contents #contentList .content .itemsContainer button.btn_prv {
  position: absolute;
  top: calc((var(--item-height) - 40px) / 2);
  left: calc((100% - var(--content-width) - var(--scroll_bar_width)) / 2 - 20px);
}

#contents #contentList .content .itemsContainer button.btn_nxt {
  position: absolute;
  top: calc((var(--item-height) - 40px) / 2);
  right: calc((100% - var(--content-width) - var(--scroll_bar_width)) / 2 - 20px);
}

#floatingPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1a1a1a;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 64px;
}

#floatingPlayer .controlWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#floatingPlayer .controlWrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

#floatingPlayer .controlWrapper .controls button {
  height: 40px;
  width: 40px;
}

#floatingPlayer .controlWrapper .controls button i {
  color: #fff;
}

#floatingPlayer .controlWrapper .controls button#btnPlay i {
  font-size: 25px;
}

#floatingPlayer .controlWrapper .durationWrapper span {
  font-size: 12px;
  color: gray;
}

#floatingPlayer .infoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#floatingPlayer .infoWrapper #jacket {
  border-radius: 2px;
  height: 40px;
}

#floatingPlayer .infoWrapper .infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
  width: 210px;
  overflow: hidden;
}

#floatingPlayer .infoWrapper .infoText span#singTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  letter-spacing: -.5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#floatingPlayer .infoWrapper .infoText span.singDetail {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

#floatingPlayer .infoWrapper .recommandWrapper {
  margin-left: 8px;
}

#floatingPlayer .infoWrapper .recommandWrapper button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#floatingPlayer .infoWrapper .recommandWrapper button i {
  color: gray;
  font-size: 20px;
}

#floatingPlayer .infoWrapper .recommandWrapper button:hover {
  background: #333333;
}

#floatingPlayer .progressWrapper {
  display: block;
  background: #333333;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2px;
}

#floatingPlayer .progressWrapper .progress {
  display: block;
  background: #4d4d4d;
  position: relative;
  width: 70vw;
}

#floatingPlayer .progressWrapper .progress::after {
  content: '';
  background-color: red;
  border-radius: 2px;
  display: block;
  width: 50vw;
  height: 2px;
}

@media screen and (max-width: 603px) {
  :root {
    --content-width: calc(100vw - var(--scroll_bar_width) - 32px);
    --gnb_search_bar_width: calc(100vw - 12px - 32px);
    --content-margin: 32px;
    --item-height: 160px;
    --items-margin: 16px;
    --is-items-overflow: true;
  }
  #gnb .elegroup:nth-child(1) #logo {
    display: block;
    overflow: hidden;
    width: 24px;
  }
  #gnb .elegroup:nth-child(2) button .btn_content i {
    display: block;
  }
  #gnb .elegroup:nth-child(2) button .btn_content span {
    display: none;
  }
  .content .itemsWraper {
    overflow: visible !important;
  }
  .content button.btn_prv {
    left: 16px !important;
  }
  .content button.btn_nxt {
    right: 32px !important;
  }
}

@media screen and (min-width: 604px) and (max-width: 924px) {
  :root {
    --content-width: calc(100vw - var(--scroll_bar_width) - 112px);
    --gnb_search_bar_width: 560px;
    --item-height: 180px;
    --content-margin: 40px;
    --items-margin: 56px;
    --is-items-overflow: true;
  }
  #gnb .elegroup:nth-child(2) button .btn_content i {
    display: block;
  }
  #gnb .elegroup:nth-child(2) button .btn_content span {
    display: none;
  }
  .itemsWraper {
    overflow: visible !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .content .itemsWraper {
    overflow: visible !important;
  }
  .content button.btn_prv {
    left: 36px !important;
  }
  .content button.btn_nxt {
    right: 32px !important;
  }
}

@media screen and (min-width: 925px) and (max-width: 1138px) {
  :root {
    --content-width: calc(100vw - var(--scroll_bar_width) - 112px);
    --gnb_search_bar_width: 720px;
    --item-height: 180px;
    --content-margin: 40px;
    --contentInfo-margin: 32px;
    --items-margin: 56px;
    --is-items-overflow: false;
  }
  #gnb .elegroup:nth-child(2) button .btn_content i {
    display: none;
  }
  #gnb .elegroup:nth-child(2) button .btn_content span {
    display: block;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content i {
    display: block;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content span {
    display: none;
  }
}

@media screen and (min-width: 1139px) and (max-width: 1352px) {
  :root {
    --content-width: 1050px;
    --gnb_search_bar_width: 860px;
    --item-height: 190px;
    --content-margin: 40px;
    --contentInfo-padding: 32px;
    --contentInfo-margin: 24px;
    --items-margin: 56px;
    --is-items-overflow: false;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content i {
    display: inline-block;
    margin-right: 10px;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content span {
    display: inline-block;
    margin-left: 10px;
  }
  .content .contentInfo h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1353px) and (max-width: 1565px) {
  :root {
    --content-width: 1264px;
    --gnb_search_bar_width: 860px;
    --item-height: 190px;
    --content-margin: 80px;
    --contentInfo-padding: 32px;
    --contentInfo-margin: 32px;
    --items-margin: 56px;
    --is-items-overflow: false;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content i {
    display: inline-block;
    margin-right: 10px;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content span {
    display: inline-block;
    margin-left: 10px;
  }
  .content .contentInfo h1 {
    font-size: 34px;
  }
  .content .item .detail span {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1566px) {
  :root {
    --content-width: 1478px;
    --gnb_search_bar_width: 860px;
    --item-height: 226px;
    --content-margin: 96px;
    --contentInfo-padding: 32px;
    --contentInfo-margin: 36px;
    --items-margin: 56px;
    --is-items-overflow: false;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content i {
    display: inline-block;
    margin-right: 10px;
  }
  #gnb .elegroup:nth-child(2) button[id="btnSearch"] .btn_content span {
    display: inline-block;
    margin-left: 10px;
  }
  .content .contentInfo h1 {
    font-size: 45px;
  }
  .content .item .detail span {
    font-size: 16px !important;
  }
}
